@using MiniProject319.ViewModels;


@model VMUser

            <!--Start Form-->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Data Pribadi</h5>

              <!-- General Form Elements -->
        <form asp-action="Edit" method="post" id="form_input">
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
            <input type="hidden" id="BiodataId" name="BiodataId" value="@Model.BiodataId" />
            <input type="hidden" id="RoleId" name="RoleId" value="@Model.RoleId" />
            <input type="hidden" id="CustomerId" name="CustomerId" value="@Model.CustomerId" />
                <div class="row mb-3">
                  <label for="Fullname" class="col-sm-8 col-form-label">Nama Lengkap</label>
                  <div class="col-sm-13">
                    <input type="text" class="form-control" id="Fullname" name="Fullname" value="@Model.Fullname">
                  </div>
                </div>


                                <div class="row mb-3">
                <label for="Dob" class="col-sm-2 col-form-label">Tanggal Lahir</label>
                                    <div class="col-sm-13">
                    <input type="date" class="form-control" id="Dob" name="Dob" value="@Model.Dob?.ToString("yyyy-MM-dd")">
                  
                                    </div>
                                </div>


                <div class="row mb-3">
                <label for="MobilePhone" class="col-sm-2 col-form-label">Number</label>
                <div class="input-group flex-nowrap mb-2">
                    <span class="input-group-text border-info bg-secondary" id="addon-wrapping">+62</span>
                    <input type="text" class="form-control" id="MobilePhone" name="MobilePhone" value="@Model.MobilePhone" aria-describedby="addon-wrapping">
                </div>
                </div>
         <br />
            
                <div class="row mb-3">
                  <div class="col-sm-10">
                    <button class="btn btn-dark=" asp-controller="Profile" asp-action="Index">Batal</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>
          <!--END FORM-->



<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: 
        {
            Fullname:
            {
                required: true,
            },
            Dob:
            {
                required: true,
                //Date : true,
            },
            MobilePhone:
            {
                required: true,
                number: true,
            },

        },
        messages:
        {
            Fullname:
            {
                required: "Input Nama Anda ",
            },
            Dob: {
                required: "Inputkan Tanggal Lahir Anda",
                //Date: "",
            },
            MobilePhone: {
                required: "Inputkan Nomor anda",
                number: "Please fill Number only",
            },
          
        },

        submitHandler: function (form) 
        {
              var dataForm = $(form).serialize()
                //debugger
            //var Fullname = $("#Fullname").val()
            //    var id = $("#Id").val()
            //var Dob = $("#Dob").val()
            //var MobilePhone = $("#MobilePhone").val()

            $.ajax({
                url: "/Profile/Edit",
                type: "post",
                data: dataForm,
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {
                        $("#modal").modal("hide")

                        toastr.success(
                            data.message,
                            '',
                            {
                                timeout: 500,
                                fadeout: 500,
                                onHidden: function () {
                                    window.location.reload()
                                }
                            }
                        )
                    }
                    else {
                        toastr.errorClass(data.message)
                    }
                }
            })
        }
     )}




</script>