@using MiniProject319.ViewModels;
@{
    List<VMListDoctor> vMListDoctors = Model;
    //bool isLogin = false;
}

<div class="pagetitle mb-5">
    <h1>List Dokter</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Data Dokter</li>
        </ol>
    </nav>

    <div class="row justify-content-between">
        <div class="col">
            <div>
                <small>Hasil Pencarian Berdasarkan kata kunci: </small>
                @if (ViewBag.CurrentFilter != null)
                {
                    <button class="btn btn-outline-secondary btn-sm">@ViewBag.CurrentFilter</button>
                }
                @if (ViewBag.SearchLocation != null)
                {
                    <button class="btn btn-outline-secondary btn-sm">@ViewBag.SearchLocation</button>
                }
                @if (ViewBag.SearchTindakan != null)
                {
                    <button class="btn btn-outline-secondary btn-sm">@ViewBag.SearchLocation</button>
                }
            </div>
            
            <br />

            <div>
                <small>Spesialiasi/ Sub-spesialisasi: </small>
                @if (ViewBag.SpecialistSelection != null)
                {
                    <button class="btn btn-outline-secondary btn-sm">@ViewBag.SpecialistSelection</button>
                }
            </div>
        </div>

        <div class="col text-end">
            @if (ViewBag.SpecialistSelection != null)
            {
                <a class="btn btn-outline-secondary" id="reset_pencarian" asp-controller="Dokter" asp-action="ListDokter">
                    Ulangi Pencarian
                </a>
            }
            else
            {
                <a class="btn btn-outline-secondary" id="search_doctor">
                    Cari Dokter
                </a>
            }
        </div>
    </div>

</div><!-- End Page Title -->

<div class="card pt-4">
    <div class="card-body">
        <div class="row row-cols-auto gap-2 justify-content-between">
            @if(vMListDoctors.Count > 0)
            {
                @foreach (var item in vMListDoctors)
                {
                    @*int BiodataId = Context.Session.GetInt32("Biodata") ?? 0;*@

                    <div class="card p-3 mb-0" style="min-width:530px">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h5 class="card-title pb-0" style="font-size:20px; font-weight:600">@item.NameDoctor</h5>
                                    <p class="card-text">
                                        <small class="text-body-secondary">
                                            @item.NameSpecialist |
                                            @item.RiwayatPraktek.Where(a => a.DoctorId == item.DoctorId).Max(a => a.LamaBekerja) Tahun
                                        </small>
                                    </p>
                                </div>
                                <div class="col-4">
                                    <img src="~/images/@item.ImagePath" alt="Profile" class="rounded-circle" style="max-height:120px">
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-8">
                                    @foreach (var items in item.RiwayatPraktek)
                                    {
                                        if (items.DoctorId == item.DoctorId && items.MedicalFacilityId != 4)
                                        {
                                            <p class="card-text mb-0 text-body-secondary">
                                                <i class="bi bi-hospital"></i>
                                                <small>@items.MedicalFacilityName - @items.Location</small>
                                            </p>
                                        }
                                    }
                                </div>
                                <div class="col-4">
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-primary">Buat Janji</button>
                                        @if (item.RiwayatPraktek.Where(a => a.MedicalFacilityId == 4 && a.DoctorId == item.DoctorId).Any())
                                        {
                                            <button class="btn btn-outline-primary">Chat</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-outline-secondary" disabled>Offline</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-primary" style="padding:20px">
                            <a dataid="@item.DoctorId" class="btn p-0 text-white btn_detail">Info lebih lengkap...</a>
                        </div>

                    </div>
                }
            }
            else
            {
                <div>
                    <p class="text-danger"><b>Data Tidak Ditemukan!</b><br /><small class="text-black">Silahkan ulangi pencarian yaa..</small></p>
                </div>
                
            }
        </div>
    </div>
    <div class="card-footer" style="padding:20px">
        Menampilkan @Model.PageIndex dari @Model.TotalPages
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <nav aria-label="Page navigation example" class="mt-2">
            <ul class="pagination mb-0">
                <li class="page-item">
                    <a class="page-link @prevDisabled"
                       asp-action="ListDokter"
                       asp-route-sortOrder="@ViewBag.CurrentSort"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewBag.CurrentFilter"
                       asp-route-pageSize="@ViewBag.CurrentPageSize">
                        Previous
                    </a>
                </li>

                <li class="page-item @nextDisabled">
                    <a class="page-link" asp-action="ListDokter"
                       asp-route-sortOrder="@ViewBag.CurrentSort"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewBag.CurrentFilter"
                       asp-route-pageSize="@ViewBag.CurrentPageSize">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>




<script>

    $("#search_doctor").click(function () {
        //alert("Hello World!")

        $("#modal-body").empty()
        $("#modal-body").load("/Dokter/ModalCariDokter")
        $("#verticalycentered").modal("show")
    })


    $(".btn_detail").click(function () {
        var id = $(this).attr("dataid")

        //alert("Data id = " + id)

        $("#modal-body-lg").empty()
        $("#modal-body-lg").load("/Dokter/DetailDokter?id=" + id)
        $("#modal-detail").modal("show")
    })

</script>