@using MiniProject319.ViewModels;
@{
    List<VMListDoctor> vMListDoctors = Model;
    bool isLogin = false;
}

<div class="pagetitle mb-5">
    <h1>List Dokter</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Data Dokter</li>
        </ol>
    </nav>

    <div class="row justify-content-between">
        <div class="col">
            <small>Hasil Pencarian Berdasarkan kata kunci: </small>
            <button class="btn btn-outline-secondary btn-sm">Lokasi Jabodetabek</button>
            <br />
            <small>Spesialiasi/ Sub-spesialisasi: </small>
            <button class="btn btn-outline-secondary btn-sm">Anak</button>
        </div>

        <div class="col text-end">
            <a class="btn btn-outline-secondary" id="reset_pencarian">
                Ulangi Pencarian
            </a>
        </div>
    </div>

</div><!-- End Page Title -->

<div class="card pt-4">
    <div class="card-body">
        <div class="row row-cols-auto gap-2 justify-content-between">
            @foreach (var item in vMListDoctors)
            {
                int BiodataId = Context.Session.GetInt32("Biodata") ?? 0;

                <div class="card p-3 mb-0" style="min-width:450px">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="card-title pb-0">@item.NameDoctor</h5>
                                <p class="card-text">
                                    <small class="text-body-secondary">
                                        @item.NameSpecialist |
                                        @item.RiwayatPraktek.Where(a => a.DoctorId == item.DoctorId).Max(a => a.LamaBekerja) Tahun
                                    </small>
                                </p>
                            </div>
                            <div class="col-4">
                                <img src="~/assets/img/@item.ImagePath" alt="Profile" class="rounded-circle" style="max-height:120px">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-8">
                                @foreach (var items in item.RiwayatPraktek)
                                {
                                    if (items.DoctorId == item.DoctorId)
                                    {
                                        <p class="card-text">@items.MedicalFacilityName - @items.Location</p>
                                    }
                                }
                            </div>
                            <div class="col-4">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary">Buat Janji</button>
                                    @if (isLogin == true)
                                    {
                                        <button class="btn btn-outline-primary">Chat</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-outline-secondary" disabled>Offline</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-secondary-subtle" style="padding:20px">
                        <a dataid="@item.DoctorId" class="btn p-0" id="btn_detail">Info lebih lengkap...</a>
                    </div>

                </div>
            }
        </div>
    </div>
    <div class="card-footer" style="padding:20px">
        Menampilkan @Model.PageIndex dari @Model.TotalPages
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <nav aria-label="Page navigation example" class="mt-2">
            <ul class="pagination mb-0">
                <li class="page-item">
                    <a class="page-link @prevDisabled"
                       asp-action="ListDokter"
                       asp-route-sortOrder="@ViewBag.CurrentSort"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewBag.CurrentFilter"
                       asp-route-pageSize="@ViewBag.CurrentPageSize">
                        Previous
                    </a>
                </li>

                <li class="page-item @nextDisabled">
                    <a class="page-link" asp-action="ListDokter"
                       asp-route-sortOrder="@ViewBag.CurrentSort"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewBag.CurrentFilter"
                       asp-route-pageSize="@ViewBag.CurrentPageSize">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>




<script>
    @*$("#cari_dokter").click(function () {
        $("#modal-body").empty()
        $("#modal-body").load("/Dokter/ModalCariDokter")
        $("#verticalycentered").modal("show")
        });*@

        $("#btn_detail").click(function () {
            var id = $(this).attr("dataid")

            $("#modal-body-xl").empty()
            $("#modal-body-xl").load("/Dokter/DetailDokter?id=" + id)
            $("#modal2").modal("show")
        })

</script>